
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Calibri';
    font-weight: bold;
    background: linear-gradient(rgba(255, 255, 255, 0.273), rgba(255, 255, 255, 0.5)), url("/Burgos/images/burgos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

body.festival {
    background: linear-gradient(rgba(255, 255, 255, 0.273), rgba(255, 255, 255, 0.5)), url("/Burgos/images/saniata4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.history {
    background: linear-gradient(rgba(255, 255, 255, 0.273), rgba(255, 255, 255, 0.5)), url("/Burgos/images/historybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body.about {
    background: linear-gradient(to right, rgb(255,255,255), rgb(254,215,173));
}

.container {
    width: 80%;
    max-width: 700px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 150px;
}

.container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
}

.container p {
    color: #555;
    font-family: 'Edu QLD Beginner', sans-serif;
    line-height: 1.5;
}

.container .info {
    margin-top: 20px;
}

.fblink {
  display: flex;
  align-items: center;             
  justify-content: center;
}

.fblink img {
  width: 50px;
  height: 50px;
}


img {
width: 150px;
height: 150px;
border-radius: 50%;
display: block;
margin: 0 auto;
}


h1 {
text-align: center;
color: #333;
}


p {
text-align: center;
color: #555;
line-height: 1.5;
}


.info {
margin-top: 20px;
} 


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 30px;
    padding: 0;

}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: yellow;
}

h1.burgos{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: 'GEMSEAtrial', sans-serif;
    color: rgb(104, 74, 74);
}

.descrip {
    max-width: 900px;      
    margin: 0 auto;        
    text-align: center;   
    line-height: 1.6;      
    color: rgb(9, 7, 7);         
    font-size: 20px;
    padding: 5px;
    font-family: 'Edu QLD Beginner', sans-serif;
    
}

.dhstry {
    max-width: 900px;     
    margin: 0 auto;        
    text-align: center;   
    line-height: 1.6;      
    color: rgb(17, 17, 17);
    font-size: 17px;
    padding: 3px;
    font-family: 'Edu QLD Beginner', sans-serif;
    margin-bottom: 50px;
}

.tlink{
    font-family: 'GEMSEAtrial', sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(104, 74, 74);
    padding: 30px;
}

.tlink a {
    color: rgb(104, 74, 74);
    text-decoration: none;
    font-family: 'GEMSEAtrial', sans-serif;
    font-size: 40px;
    transition: color 0.3s, text-shadow 0.3s;
}

.tlink a:hover {
    color: #004d66;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.historygallery{
 
    display: flex;
    height: 250px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    padding: 35px;
    
}

.historygallery img {
    width: 350px;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s;

}

.historygallery img:hover {
    transform: scale(1.05);
}


/* Home */
.homegallery {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
    justify-content: center;
    padding: 50px;
    margin-bottom: 50px
    
}

.homegallery img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s;
}

.homegallery img:hover {
    transform: scale(1.05);
}

/* Media Query for <= 414px */
@media (max-width: 414px) {
    body{
        background-color: pink;
    }

    .tlink{
        text-align: center;
        color: black;
        font-size: 10pt;
    }

    .descrip{
        text-align: center;
        color: black;
        font-size: 10pt;
    }

    .homegallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    width: 100%;
    
    }
}

/* Media Query for >=414px and <=428px  */
@media (min-width: 415px) and (max-width: 428px) {
     body{
        background-color: purple;
}

.homegallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 10px;
    width: 100%;
    
} 

}


/* Tourist Spot */
.ts {
    gap: 20px;
    justify-content: center;
    padding: 50px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 50px;
}

.gallery img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.45);
}

.tts{
    font-family: 'GEMSEAtrial', sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(65, 35, 35);
    padding: 1px;
}
.tsdescrip{
    max-width: 900px;      
    margin: 0 auto;        
    text-align: center;   
    line-height: 1.6;      
    color: rgb(17, 17, 17);          
    font-size: 17px;
    padding: 1px;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.intro{
    margin-top: 10px;
}

.intro h1{
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    font-family: 'GEMSEAtrial', sans-serif;
    color: rgb(104, 74, 74);
}

.intro p {
    max-width: 900px;      
    margin: 0 auto;        
    text-align: center;   
    line-height: 1.6;      
    color: rgb(17, 17, 17);          
    font-size: 17px;
    padding: 25px;
    font-family: 'Edu QLD Beginner', sans-serif;
}
.fimg {

    padding: 50px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.fimg img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s;
    
}

.fimg img:hover {
    transform: scale(1.15);
}

.tfes{
    font-family: 'Sudo Var', sans-serif;
    text-align: center;
    font-size: 30px;
    color: rgb(67, 6, 6);
    padding: 1px;
}

.fdescrip{
    max-width: 900px;      
    margin: 0 auto;        
    text-align: center;   
    line-height: 1.6;      
    color: rgb(17, 17, 17);          
    font-size: 17px;
    padding: 1px;
    font-family: 'Edu QLD Beginner', sans-serif;
}

footer{
    background-color: #004d66;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}